# Ignore everything
*

# Don't ignore directories, so we can recurse into them
!*/

# Don't ignore .gitignore and *.foo files
!.gitignore
!wp-content/plugins/wc-douchette/*

# ignore sub gitignore
**/.gitignore
